<title>Register</title>
<h1 >Register</h1>
<nav>
  <div class="Register">
    <div class="usertype">
      <select id="admin/user" name="usertype">
        <option value="" disabled selected>Enter admin/user</option>
        <option>Admin</option>
        <option>User</option>
      </select>
    </div>
    <div class="email">
      <input id="email" name="email" placeholder="Enter email">
    </div>
    <div class="username">
      <input id="username" name="username" placeholder="Enter Username">
    </div>
    <div class="mobilenumber">
      <input id="mobileNumber" name="mobile" placeholder="Enter Mobilenumber">
    </div>
    <div class="password">
      <input id="password" name="password" placeholder="Password">
    </div>
    <div class="confirmpassword">
      <input id="confirmpassword" name="password1" placeholder="Confirm Password">
    </div>
    <div class="submit">
      <button type="button">Submit</button>
    </div>
  </div>
</nav>


